@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,300;0,400;1,500&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    min-width: 100%;
    font-family: 'IBM Plex Sans', sans-serif;
    background: linear-gradient(450deg, red, blue);
    display: flex;
    justify-content: center; 

}
.card {
    background: linear-gradient(230deg, #eca912, #e20c0a);
    width: 582px;
    height: 880px;
    display: flex;
    flex-direction: column;
    margin-top: 145px;
    border-radius: 20px;
    box-shadow: 0px 6px 22px 0px;
}

.card-top {
    color: white;
    font-size: 22pt;
    margin: 20px;
    display: flex;
    justify-content: space-between;
}



.card-title {
    color: white;
    margin: 17px;
    font-size: 30px;
    letter-spacing: 2px;
}

.card-info {
    color: white;
    margin: 18px;
    opacity: 0.8;
    font-size: 20px;
    line-height: 30px;
}
.air {
    display: flex;
    font-size: 280pt;
    letter-spacing: 40px;
    position: relative;
    overflow: hidden;
    justify-content: center;
    padding-left: 64px;
    padding-top: 10px;
    color: white;
    opacity: 0.3;
}
.shoes-img {
    position: relative;
}
img.nike {
    position: absolute;
    width: 650px;
    left: 10px;
    top: -36px;
}

.card-down {
    justify-content: center;
    background-color: white;
    height: 160px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: auto;
    border-radius: 20px;
}

button {
    
    border-color: blue;
    width: 182px;
    border-radius: 32px;
    height: 70px;
    color: blue;
    font-size: 26px;
    font-weight: bold;
    background-color: white;
    border: solid 4px;
    position: relative;
}
.card-info-down {
    margin-bottom: -32px;
    margin-top: 24px;
    font-size: 20px;
    letter-spacing: 12px;
    color: rgba(169, 169, 169, 0.957);
}