

.img__topo {
    width: 100%;
}

.img__sofa {
    width: 100%;
}
.imgs__card-3 {
    display: flex;
    flex-direction: row;

    flex-wrap: nowrap;
    gap: 2px;
    margin-bottom: 100px;
}

.img__card-7 {
    width: 100%;
}


img.logos {
    padding: 8px;
}
img.img__product {
    max-width: 393px;
}

.video__card-7 {
    width: 100%;
}